torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
fastapi
openai-whisper
transformers
scikit-learn
spacy
nltk
librosa
uvicorn
gunicorn
langchain
openai
tiktoken
huggingface_hub
openai
firebase-admin
python-dotenv
moviepy
urllib
omegaconf
shutil
scipy
numpy
pandas
