nemo_toolkit[all]
torch
torchvision
torchaudio
Cython
fastapi
openai-whisper
transformers
scikit-learn
spacy
nltk
librosa
uvicorn
gunicorn
langchain
openai
tiktoken
huggingface_hub
openai
firebase-admin
python-dotenv
moviepy
urllib3
omegaconf
shutils
scipy
numpy
ffmpeg-python
pandas
Cython
hydra
